.highchart-cont {
    padding: 30px 0 0 0;
}

.refresh-cont {
    margin: 170px 0;
}

.accounts-msg {
    background: inherit;
    position: absolute;
    top: 190px;
    left: 0;
    right: 0;
    font-size: 24px;
}

.spinner-msg {
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
}

.highcharts-credits {
    visibility: hidden;
}

.highcharts-background {
    fill: rgba(0, 0, 0, 0);
}

.highcharts-range-selector-buttons {
    display: none;
}

.highcharts-scrollbar {
    display: none;
}

.highcharts-input-group {
    display: none;
}