.dashboard-page {
    position: relative;
    color: #fff;
}

.top-cont {
    position: relative;
}

.balances-cont {
    position: absolute;
    width: 320px;
    height: 400px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    background: -webkit-linear-gradient(top, rgba(9,115,125,1) 0%, rgba(0,152,166,1) 100%);
    overflow: auto;
}

.balances-cont .header {
    height: 50px;
    line-height: 50px;
    background: #0099a7;
}

.chart-cont {
    position: absolute;
    left: 320px;
    right: 0;
    padding: 0 30px;
    background: -webkit-linear-gradient(top, rgba(39,17,137,1) 0%, rgba(54,47,179,1) 100%);
}

.chart-header {
    height: 60px;
    background: #362fb4;
}

.bottom-cont {
    position: absolute;
    top: 400px;
    left: 0;
    right: 0;
    margin-left: -160px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    background: -webkit-linear-gradient(top, rgba(2,61,128,1) 0%, rgba(0,33,87,1) 100%);
    min-height: calc(100vh - 423px);
}

.bottom-cont .positions-header {
    height: 50px;
    margin-left: 160px;
    padding-right: 160px;
    border-radius: 0 0 0 50px;
    line-height: 50px;
    background: #004a80;
}